
    <ul class="nav nav-tabs" style="color: black;background-color:transparent;width: 800px;display:inline-flex;text-align: left;border: transparent;"  >
      <li class="nav-item" style="border: transparent;">
        <a class="nav-link active" href="/"  style="font-size: larger;font-weight: bold;;">Home</a>
      </li>
      <li class="nav-item" style="border: transparent;" >
        <a class="nav-link" href="/testcase" style="font-size: larger;font-weight: bold;">Test Case Generator</a>
      </li>
      <li class="nav-item" style="border: transparent;">
        <a class="nav-link" href="/testscript" style="font-size: larger;font-weight: bold;">Test Script
            Generator</a>
    </li>
      <li class="nav-item" style="border: transparent;">
        <a class="nav-link" href="/testdata"  style="font-size: larger;font-weight: bold;">Test Data Generator</a>
      </li>
     
    </ul>

