
<%- include('../partials/head'); %>
<div class="center">
    <%- include('../partials/header'); %>

    <div class="card-body" style="text-align: center;" >
        <div class="card" style="height: 300px;width: 1300px;">
            <br>
           
                <p>
                    This tool aims to streamline the testing phase by automating the generation of comprehensive test cases,
                <br>test script and test data leveraging artificial intelligence to identify critical scenario and edge cases.
                    </p>

                <p><a href="/testcase">Click here </a>to generate test cases</p>
            <p><a href="/testdata">Click here </a>to generate test data</p>
                <p><a href="/testscript">Click here </a>to generate test script</p>
            </div>

        </div>
    </div>