<%- include('../partials/head'); %>
    <div class="center">
        <ul class="nav nav-tabs"
            style="color: black;background-color:transparent;width: 800px;display:inline-flex;text-align: left;border: transparent;">
            <li class="nav-item" style="border: transparent;">
                <a class="nav-link" href="/" style="font-size: larger;font-weight: bold;">Home</a>
            </li>
            <li class="nav-item" style="border: transparent;">
                <a class="nav-link active" href="/testcase" style="font-size: larger;font-weight: bold;">Test Case
                    Generator</a>
            </li>
           
            <li class="nav-item" style="border: transparent;">
                <a class="nav-link" href="/testscript" style="font-size: larger;font-weight: bold;">Test Script
                    Generator</a>
            </li>
            <li class="nav-item" style="border: transparent;">
                <a class="nav-link" href="/testdata" style="font-size: larger;font-weight: bold;">Test Data
                    Generator</a>
            </li>
        </ul>

        <div class="card-body" id="testGen" style="text-align: center;">
            <div class="card" style="height: 450px;width: 1300px;">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-6">
                                <input type="radio" id="scenario" value="scenario" name="userInput" onchange="updateMessage(value)" checked="true">
                                <label for="scenario">Scenario</label>
                                <input type="radio" id="ac" value="ac" name="userInput" onchange="updateMessage(value)">
                                <label for="ac">Acceptance Criteria</label>
                    
                       
                            </td>
                        </tr>
                        <tr>
                            <td class="col-6">
                                <textarea id="tcDesc" style="width: 1200px;height: 200px;"
                                    placeholder="Enter single scenario like 'user login flow' or multiple scenarios separated by comma like 'user login flow, search flights in makemytrip.com' "></textarea>

                                <br>
                                <!-- <input type="checkbox" id="bdd" name="bdd">
                                <label for="bdd"> Select this checkbox to generate in BDD format </label> -->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-6">
                                <button id="generateTestCase" onclick="return generateTestCase()"
                                    class="btn btn-secondary"> Generate</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>


                        <tr>
                            <td class="col-6">
                                <a id="downloadFileLink" style="visibility: hidden;">Click here to download test
                                    cases</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>



                    </tbody>




                </table>

            </div>


        </div>
    </div>
    <div id="overlay">
        <div class="loader"></div>
    </div>
    <script src="/src/script_testCaseGen.js">

    </script>

    <%- include('../partials/footer'); %>